<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>People Found</title>
    <link rel="stylesheet" href="/public/main-styles.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>