<h1>Home</h1>
<article>
    <h2>Select your visited Parks, and highlight them!</h2>
    <p>
        Welcome to National Park Domination Map. You can mark the park you have visited or wish to visit.
    </p>
    <footer>
    <nav>
        <p>Welcome {{userName}}</p>
        <a href="/park">Park</a> |
        <a href="/user">User</a> |
        <a href="/rank">Ranking</a>
        <a href="/logOut">LogOut</a>
    </nav>
    </footer>
</article>
<nav>
    <a href="/login/test">Login Test</a> |
    <a href="/register/test">Register Test</a>
</nav>