<article class="people">
  <h2>search {{ searchPersonName }}</h2>
  <ul>
    {{#each people}}
    <li>
      <a href="/persondetails/{{id}}">{{firstName}} {{lastName}}</a>
    </li>
    {{/each}}
  </ul>
  
</article>
