{{! 
This page will be rendered when no matches are found in 'POST http://localhost:3000/searchpeople'.
You will render this page with the HTML paragraph defined in the lab assignment.
}}

<p class="not-found">We're sorry, but no results were found for {{searchPersonName}}.</p>