<form id="passForm">
  <label for="emailInput">Email</label>
  <input type="email" name="emailInput" id="emailInput">
  
  <label for="questionInput">Select secure question</label>
  <select name="questionsA" id="questionsA">
    <option value="question1">What is your mother's first name?</option>
    <option value="question2">What is your best friend's name?</option>
    <option value="question3">What is your born city?</option>
    <option value="question4">Is there anything you can't live without?</option>
    <option value="question5">Who is you love most person?</option>
    <option value="question6">What is your spouse born city?</option>
  </select>

  <label for="answerInput1">Answer</label>
  <input type="text" name="answerInput1" id="answerInput1">

  <label for="questionInput">Select secure question</label>
  <select name="questionsB" id="questionsB">
    <option value="question1">What is your mother's first name?</option>
    <option value="question2">What is your best friend's name?</option>
    <option value="question3">What is your born city?</option>
    <option value="question4">Is there anything you can't live without?</option>
    <option value="question5">Who is you love most person?</option>
    <option value="question6">What is your spouse born city?</option>
  </select>

  <label for="answerInput2">Answer</label>
  <input type="text" name="answerInput2" id="answerInput2">
  <span id="errorMessage1"></span>


  <label for="passwordInput">Password</label>
  <input type="password" name="passwordInput" id="passwordInput">

  <label for="confirmPasswordInput">Confirm Password</label>
  <input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
  <span id='message'></span>

  <button type="submit">Submit</button>
</form>
<a href="/login">Back to log-in</a>
{{#if error}}<div class="error">{{error}}</div>{{/if}}