<form method="POST" action="/login" id="login-form">
  <label for="emailInput">Email</label>
  <input type="text" name="emailInput" id="emailInput">
  <label for="passwordInput">Password</label>
  <input type="password" name="passwordInput" id="passwordInput">
  <div>
    <button type="submit">Login</button>
  </div>
</form>
<a href="/register">Click here to register!</a>
<a href="/forget">Forget Password?</a>
<div>
  {{#if error}}<div class="error">{{error}}</div>{{/if}}
</div>