<form id="passForm">
  <label for="emailInput1">Email</label>
  <input type="email" name="emailInput1" id="emailInput1">
  
  <label for="questionInput1">Select secure question</label>
  <select name="questionsA1" id="questionsA1">
    <option value="question1">What is your mother's first name?</option>
    <option value="question2">What is your best friend's name?</option>
    <option value="question3">In what city were you born?</option>
    <option value="question4">Is there anything you can't live without?</option>
    <option value="question5">Who is you love most person?</option>
    <option value="question6">Where did you meet your spouse?</option>
    <option value="question7">What high school did you attend?</option>
    <option value="question8">What is the name of your favorite pet?</option>
    <option value="question9">What was the name of your elementary school?</option>
    <option value="question10">What was your favorite food as a child?</option>
  </select>

  <label for="answerInputA">Answer</label>
  <input type="text" name="answerInputA" id="answerInputA">

  <label for="questionInput2">Select secure question</label>
  <select name="questionsB1" id="questionsB1">
    <option value="question1">What is your mother's first name?</option>
    <option value="question2">What is your best friend's name?</option>
    <option value="question3">In what city were you born?</option>
    <option value="question4">Is there anything you can't live without?</option>
    <option value="question5">Who is you love most person?</option>
    <option value="question6">Where did you meet your spouse?</option>
    <option value="question7">What high school did you attend?</option>
    <option value="question8">What is the name of your favorite pet?</option>
    <option value="question9">What was the name of your elementary school?</option>
    <option value="question10">What was your favorite food as a child?</option>
  </select>

  <label for="answerInputB">Answer</label>
  <input type="text" name="answerInputB" id="answerInputB">
  <span id="errorMessage1"></span>


  <label for="passwordInput1">new Password</label>
  <input type="password" name="passwordInput1" id="passwordInput1">

  <label for="confirmPasswordInput1">Confirm Password</label>
  <input type="password" name="confirmPasswordInput1" id="confirmPasswordInput1">
  <span id='message1'></span>

  <div style="padding-top: 8px;">
    <button type="submit" style="margin-bottom: 10px;">Submit</button>
  </div>
</form>

<a href="/login">Back to log-in |</a>
<a href="/">Homepage</a>
<div>
{{#if error}}<div class="error" id="error1">{{error}}</div>{{/if}}
</div>