<body class="loginPage">
  <form id="login-form">
    <label for="EmailInput">Email</label>
    <input type="text" name="EmailInput" id="EmailInput">
    <label for="PasswordInput">Password</label>
    <input type="password" name="PasswordInput" id="PasswordInput">
    <span id='loginErr'></span>
    <div style="padding-top: 8px;">
    <input type="submit" value="Login">
    </div>
  </form>
  <a href="/register">Click here to register!</a>
  <a href="/forget">Forget Password?</a>
  <a href="/">Homepage</a>
  <div>
  {{#if error}}<div class="error" id="error2">{{error}}</div>{{/if}}
  </div>
</body>