
<form id="myForm">
  <label for="usernameInput">Username</label>
  <input type="text" name="usernameInput" id="usernameInput">

  <label for="passwordInput">Password</label>
  <input type="password" name="passwordInput" id="passwordInput">

  <label for="confirmPasswordInput">Confirm Password</label>
  <input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
  <span id='message'></span>

  <label for="emailInput">Email</label>
  <input type="email" name="emailInput" id="emailInput">

  <label for="birthDateInput">Birthday</label>
  <input type="date" name="birthDateInput" min="1899-01-01" max="2023-01-01" id="birthDateInput">

  <button type="submit">Register</button>
</form>
<a href="/login">Already have an account? Click here to log-in</a>
{{#if error}}<div class="error">{{error}}</div>{{/if}}