
#title{font-size:60px;}
#Total{font-size:60px;}
#area path,
#area rect,
polyline{
	fill-rule:evenodd;
	clip-rule:evenodd;
	stroke:#000;
	stroke-width:4;
	stroke-linecap:round;
	stroke-linejoin:round;
}
#area path,
#area rect{
	/* fill:#FFF; */
	cursor: pointer;
	pointer-events: auto;
}
polyline{fill:none;pointer-events:none;}

.st0{display:none;fill:#A9A9D9;}
.st1{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st2{fill:#b7f8f9;}
.st3{fill:#9bf7ee;}
.st4{fill:#7eeff9;}
.st5{fill:#3ae1f7;}
.st6{fill:#0fc3e2;}
.st7{fill:#f8d3e5;}
.st16{fill:#fabcdb;}
.st17{fill:#fa9ac8;}
.st18{fill:#f87eb1;}
.st19{fill:#fc74c8;}
.st8{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st9{fill:none;}
.st11{font-size:18px;}
.st12{font-size:24px;}
.st13{font-size:21px;}
.st14{font-size:12px;}
.st15{font-size:72px;}

.parklist{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap
}

.square{
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 10px 10px 10px 10px;
}
.center{
	width: 300px;
	height: 20px;
	height: auto;
	margin: 0 auto;
}

.rect{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}
.rec{
	margin-left: 10%;
	margin-bottom: 5%;
}
.rec_1{
	width:20px;
	height:10px;
	background-color:#b7f8f9;
	font-size: 10px;
	text-align: center;
}
.rec_2{
	width:20px;
	height:10px;
	background-color:#9bf7ee;
	font-size: 10px;
	text-align: center;
}
.rec_3{
	width:20px;
	height:10px;
	background-color:#7eeff9;
	font-size: 10px;
	text-align: center;
}
.rec_4{
	width:20px;
	height:10px;
	background-color:#3ae1f7;
	font-size: 10px;
	text-align: center;
}
.rec_5{
	width:20px;
	height:10px;
	background-color:#0fc3e2;
	font-size: 10px;
	text-align: center;
}
.rec_6{
	width:20px;
	height:10px;
	background-color:#f8d3e5;
	font-size: 10px;
	text-align: center;
}
.rec_7{
	width:20px;
	height:10px;
	background-color:#fabcdb;
	font-size: 10px;
	text-align: center;
}
.rec_8{
	width:20px;
	height:10px;
	background-color:#fa9ac8;
	font-size: 10px;
	text-align: center;
}
.rec_9{
	width:20px;
	height:10px;
	background-color:#f87eb1;
	font-size: 10px;
	text-align: center;
}
.rec_10{
	width:20px;
	height:10px;
	background-color:#fc74c8;
	font-size: 10px;
	text-align: center;
}
/* .form{
	width: 100px;
	height: 30px;
}
.park{
	height: 40px;
	font-size: 20px;
	width:100%;
	display: flex;
	flex-direction: row;
}
.center{
	position: fixed;top: 50%;left: 50%;width: 80%;height:50%;background: #FFF;transform: translate(-50%, -50%);padding: 0 0 0 0;
}
.st1 > .is-green{
	fill:green;
	border: 10px solid gray;
} */