
#title{font-size:60px;}
#Total{font-size:60px;}
#地区 path,
#地区 rect,
polyline{
	fill-rule:evenodd;
	clip-rule:evenodd;
	stroke:#000;
	stroke-width:4;
	stroke-linecap:round;
	stroke-linejoin:round;
}
#地区 path,
#地区 rect{
	fill:#FFF;
	cursor: pointer;
	pointer-events: auto;
}
polyline{fill:none;pointer-events:none;}

.st0{display:none;fill:#A9A9D9;}
.st1{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st2{fill:#88AEFF;}
.st3{fill:#FF7E7E;}
.st4{fill:#A8FFBE;}
.st5{fill:#FFB57E;}
.st6{fill:#FFFFFF;}
.st7{fill:#FFE57E;}
.st16{fill:#d6beff;}
.st8{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st9{fill:none;}
.st11{font-size:18px;}
.st12{font-size:24px;}
.st13{font-size:21px;}
.st14{font-size:12px;}
.st15{font-size:72px;}

.parklist{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap
}

.square{
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 10px 10px 10px 10px;
}
/* .form{
	width: 100px;
	height: 30px;
}
.park{
	height: 40px;
	font-size: 20px;
	width:100%;
	display: flex;
	flex-direction: row;
}
.center{
	position: fixed;top: 50%;left: 50%;width: 80%;height:50%;background: #FFF;transform: translate(-50%, -50%);padding: 0 0 0 0;
}
.is-green{
	color:green;
} */