
#title{font-size:60px;}
#Total{font-size:60px;}
#地区 path,
#地区 rect,
polyline{
	fill-rule:evenodd;
	clip-rule:evenodd;
	stroke:#000;
	stroke-width:4;
	stroke-linecap:round;
	stroke-linejoin:round;
}
#地区 path,
#地区 rect{
	/* fill:#FFF; */
	cursor: pointer;
	pointer-events: auto;
}
polyline{fill:none;pointer-events:none;}

.st0{display:none;fill:#A9A9D9;}
.st1{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st2{fill:#8fa4d1;}
.st3{fill:#5185d3;}
.st4{fill:#5162dc;}
.st5{fill:#236ede;}
.st6{fill:#0009b5;}
.st7{fill:#95bc8b;}
.st16{fill:#83c175;}
.st17{fill:#5de278;}
.st18{fill:#23e04c;}
.st19{fill:#09a743;}
.st8{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st9{fill:none;}
.st11{font-size:18px;}
.st12{font-size:24px;}
.st13{font-size:21px;}
.st14{font-size:12px;}
.st15{font-size:72px;}

.parklist{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap
}

.square{
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 10px 10px 10px 10px;
}
.center{
	width: 300px;
	height: 20px;
	height: auto;
	margin: 0 auto;
}
/* .form{
	width: 100px;
	height: 30px;
}
.park{
	height: 40px;
	font-size: 20px;
	width:100%;
	display: flex;
	flex-direction: row;
}
.center{
	position: fixed;top: 50%;left: 50%;width: 80%;height:50%;background: #FFF;transform: translate(-50%, -50%);padding: 0 0 0 0;
}
.st1 > .is-green{
	fill:green;
	border: 10px solid gray;
} */