body {
  background: #fff2e8;
}

body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 50%;
  margin: auto;
}

header {
  border-bottom: 5px solid #baa898;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 5px solid #baa898;
}

h1 {
  color: #839788;
  margin-bottom: 10px;
  font-size: 36px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h2 {
  color: #28567b;
  margin-bottom: 10px;
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h3 {
  color: #28567b;
  margin-bottom: 10px;
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  display: block;
}

.homepage-title {
  color: #5b6763;
  margin-bottom: 10px;
  font-size: 36px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(49, 57, 51);
  background-color: rgb(217, 242, 248);
  padding: 10px;
  display: block;
  word-wrap: break-word;
}

p,
label {
  color: #28567b;
  font-size: 20px;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
  z-index: 997;
}

a:link {
  color: #28567b;
}
a:visited {
  color: #839788;
}
a:hover {
  color: #baa898;
}
a:active {
  color: #baa898;
}
a.new {
  color: #6b705c;
  font-family: Georgia, serif;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 5px;
}

.text-goes-here {
  color: #525252;
}

.footerClass {
  color: #839788;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

input[type="number"] {
  padding: 8px 10px;
}

button {
  font-family: "EB Garamond";
  font-size: 17px;
  background-color: #839788;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #839788;
}

.login {
  position: absolute;
  top: 10px;
  right: 85px;
}

.register {
  position: absolute;
  top: 10px;
  right: 10px;
}

a[href="/profile"] {
  position: absolute;
  top: 10px;
  right: 100px;
}
a[href="/logout"] {
  position: absolute;
  top: 10px;
  right: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
  margin-top: 2rem;
}

.input-field input {
  padding: 0.8rem;
}

form .input-field:first-child {
  margin-bottom: 1.5rem;
}

form input[type="submit"] {
  background: linear-gradient(to left, #4776e6, #8e54e9);
  color: white;
  border-radius: 4px;
  margin-top: 2rem;
  padding: 0.4rem;
}

img {
  width: 100%;
  height: auto;
  display: flex;
}

#park_head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#park_url {
  text-decoration: none;
}

.reviews {
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  border: black 1px solid;
  margin-bottom: 5%;
}
.review {
  margin-top: 1%;
  margin-bottom: 1%;
}
.error {
  color: red;
}
.error1{
  color:red;
}

.backToMain {
  position: absolute;
  top: 10px;
  right: 85px;
}

li {
  color:#5681ad;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.likes{
  color: green;
}

.unlikeD{
  color: red;
}

.hidden {
  display: none;
}


.wished-visited-data {
  position: relative;
  left: 20px;
  bottom: 0;
}




